.elements__element {
    width: 282px;
    height: 361px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 79px;
    grid-template-columns: 220px 1fr;
    border-radius: 10px;
    background-color: #FFFFFF;
    align-items: center;
}

