.header__email {
  width: 141px;
  height: 22px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #ffffff;
  margin-bottom: 18px;
}
