.header {
    max-width: 882px;
    min-height: 74px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
    padding-top: 45px;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(84, 84, 84, 0.7);
    border-style: solid;
    margin-bottom: 36px;
}

@media all and (max-width:590px) {
    .header {
        padding-top: 28px;
        max-width: 324px;
        margin-bottom: 38px;
        min-height: 56px;
    }
}