.register__input {
    width: 350px;
    border-bottom: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #cccccc;
    border-style: solid;
    margin-bottom: 30px;
    background-color: black;
    color: white;
  }
  
  .register__input:nth-child(2) {
    margin-bottom: 200px;
  }
  
  ::-webkit-input-placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #cccccc;
  }
  
  ::-moz-placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #cccccc;
  }
  
  :-moz-placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #cccccc;
  }
  
  :-ms-input-placeholder {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #cccccc;
  }
  
  @media all and (max-width: 380px) {
      .register__input {
        width: 260px;
      }
      .register__input:nth-child(2) {
          margin-bottom: 170px;
        }
    }