.elements__like-button {
    min-width: 20px;
    min-height: 18px;
    padding: 0;
    border: 0;
    margin-right: 21px;
    background-color: #ffffff;
    cursor: pointer;
    background-image: url(../../../images/like.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.elements__like-button:hover {
    opacity: 0.6;
}