.popup__button-create {
  width: 358px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 2px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 36px;
  margin-left: 36px;
  cursor: pointer;
  border: 0;
  padding: 0;
}

.popup__button-create:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media all and (max-width: 590px) {
  .popup__button-create {
    width: 285px;
  }
}

@media all and (max-width: 425px) {
  .popup__button-create {
    width: 180px;
  }
}
