.elements__like-score {
width: 9px;
height: 13px;
left: 446px;
top: 654px;
margin-top: 3px;
text-align: center;
align-self: center;
font-family: 'Inter';
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
color: #000000;
}