.header__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 325px) {
    .header__box {
        flex-direction: column;
        margin: auto;
        margin-right: 27px;
    }
}